/*
.spacer {
    background-color: cyan;
    height: 2em;
    width: 2em;
}*/

html {
	--accent-color: rgb(230, 39, 57);
}

::selection {
	color: white;
	background: var(--accent-color);
}

li {
    margin-bottom: 0.5em;
}

::-moz-selection {
	color: white;
	background: var(--accent-color);
}

::-webkit-selection {
	color: white;
	background: var(--accent-color);
}

.background {
        /* The image used */
        background-image: url(../images/fond-entete-programmation.jpg);

        /* Set a specific height */
        min-height: 500px; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        overflow: auto;

        padding: 2em 0 2em 0;

}

body {

    margin: 0;

    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);

}

ul {
    list-style-type: none;
    padding: 0;
}

.wrapper {
    text-align: center;
}

.content {
    max-width: 800px;
    background-color: rgb(239, 239, 237);
    border-left: 1em solid rgb(230, 39, 57);
    padding: 0px 2em 0px 2em;
    overflow: auto;
    margin: auto;
    margin-bottom: 2em;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a span {
    color: black;
}

.more-spacing li {
    margin-bottom: 0.8em;
}